@import "tailwindcss";

:root {
  --header-large-height: 72px;
  --max-width: 1360px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-main: #1E338E;
  --color-dark-blue: #09111e;
  --font-inter: var(--font-inter);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Inter, Helvetica, sans-serif;
}
